# Immich Configuration

# Version of Immich to use (default: release)
IMMICH_VERSION=release

# Database Configuration
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Storage Locations
# Path on your host where you want to store uploaded media
UPLOAD_LOCATION=./library
# Path on your host for the database data
DB_DATA_LOCATION=./postgres
